.message {
  display: flex;
  align-items: center;
  padding: 15px;
  color: #ffffff;
  margin-bottom: 10px;
}

.messageInfo {
  padding: 20px 20px 20px 10px;
}

.messageTimestamp {
  color: #7b7b7b;
  margin-left: 20px;
  font-size: 16px;
}
